.from-field{
     margin-top:2em;
     padding: 2em;
     background-color: #4E5D6C !important;
}

.card-list{
     padding: 0 !important;
     list-style-type: none; 
}

.space-btn{
     margin-right: 1em;
}
.img-slider{
     width: 100%;
}

.badge-search{
     background-color:#DF691A;
     padding: 0.4em;
     margin: 1em 0.4em 5em 0em ;
     display: inline;
     font-weight: bold;
}

.txt-input{
     font-size: 0.875rem;
     font-weight: 400;
     line-height: 1.5;
     margin-bottom: 0.5rem;
}

.card-client{
     margin-top: 1.5em;
     margin-bottom:1.5em;
     width: 17rem;   
}


@media (max-width: 576px) { 
.card-client{
     width: 100%;   
}
}

@media (min-width: 576px) { 
.card-client{
     width: 100%;   
} 
}

@media (min-width: 768px) { 
.card-client{
     width: 100%;   
} 
}

@media (min-width: 992px) { 
.card-client{
     width: 100%;   
}
}

@media (min-width: 1200px) { 
.card-client{
     width: 100%;   
} 
}