.from-field{
     margin-top:2em;
     padding: 2em;
     background-color: #4E5D6C !important;
}

.card-list{
     padding: 0 !important;
     list-style-type: none; 
}

.space-btn{
     margin-right: 1em;
}

.card-client{
     margin-top: 1.5em;
     margin-bottom:1.5em;
     width: 17rem;   
}


@media (max-width: 576px) { 
.card-client{
     width: 100%;   
}
}

@media (min-width: 576px) { 
.card-client{
     width: 100%;   
} 
}

@media (min-width: 768px) { 
.card-client{
     width: 100%;   
} 
}

@media (min-width: 992px) { 
.card-client{
     width: 100%;   
}
}

@media (min-width: 1200px) { 
.card-client{
     width: 100%;   
} 
}